@font-face {
    font-family: "pokemon_simples";
    src: url('fontes/fonte_corpo/pokemon_jogo.ttf') format('truetype');
}

@font-face {
    font-family: "pokemon_titulo";
    src: url('fontes/fonte_titulo/pokemon_solid.ttf') format('truetype');
}

html{
    height: 100%; /* Aplica as coisas na página visível toda, não apenas até onde tem coisa escrita*/
}

body{
    font-family: "pokemon_simples";
    background: linear-gradient(to bottom, rgb(20, 145, 222), white);
    min-width: 100%; /* Aplica as coisas na página visível toda, não apenas até onde tem coisa escrita*/
}

h1{
    font-family: "pokemon_titulo", sans-serif;
    color: rgb(249, 231, 29);
    font-size: 80px;
    text-align: center;
    text-shadow: 
    4px 4px 2px #000,
    -4px -4px 2px #000,
    4px -4px 2px #000,
    -4px 4px 2px #000;
}

.img_centralizada{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.svg_centralizado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img_curvada {
    stroke: transparent; /* Sem borda */
    fill: none
  }

.img_titulo{
    /* Características de Fonte */
    font-family: "pokemon_titulo", sans-serif;
    font-size: 80px;
    
    fill: rgb(249, 231, 29);
    
    text-shadow: 
        4px 4px 2px #000,
        -4px -4px 2px #000,
        4px -4px 2px #000,
        -4px 4px 2px #000;
        
    text-anchor: middle; 
}


.botao_minijogo{
    background-color: yellow;
    color: darkgoldenrod;
    border: 1px solid black; /* Espessura + Tipo da borda + Cor */
    border-radius: 8px; /* Arredonda a borda */
    text-decoration: none;
    text-align: center;
    padding: 10px 15px; /* Adiciona espaço dentro do botão, Vertical + Lateral */
    margin: 5px 10px; /* Adiciona espaçõ entre o botão e outras coisas, Vertical + Lateral */

    cursor: pointer; /* Faz com que o cursor mude para o "dá para clicar" */
    transition: background-color 0.2s ease; /* Faz com que a "hover" aconteça gradualmente */
}

.botao_minijogo:hover {
    background-color: lightyellow; /* Muda a cor do fundo quando coloca o cursor */
}
