<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>POKÉLEARN</title>
</head>
<body>

    <!-- 
    Transforma o texto em uma imgagem, para estilização de forma
    Imagem .svg distorcida, faz o arco no título para familiaridade com a logo da franquia 
    -->
    <svg class=svg_centralizado width="400" height="150" viewBox="0 0 450 200">
        <defs>
            <path id="img_curvada" d="M 10,180 Q 225,20 440,180" /> 
        </defs>
        
        <!-- Faz com que todas as letras caibam na imagem, sem cortar as pontas -->
        <text class=img_titulo>
            <textPath href="#img_curvada" startOffset="50%" textLength="440" lengthAdjust="spacingAndGlyphs">
            POKÉLEARN
            </textPath>
        </text>
    </svg>

    <!-- 
    {{ }} é usado para indicar que é código Jinja2 (template engine do Flask)
    Executa Python/Flask antes de enviar o HTML para o navegador
    Flask usa url_for para gerar URLs para arquivos estáticos
    Garante que o caminho está correto independentemente de onde o app está rodando
    -->   
    <img class="img_centralizada" src="{{ url_for('static', filename='imagens/pokeball-pokemon-svgrepo-com.svg') }}" 
        alt="Uma Pokébola" style="width:800px;height:300px;">
    <h3>Aprenda matemática de forma divertida</h3>
    <a href="{{ url_for('static', filename='minijogos/calculo_dano.html') }}" class="botao_minijogo">Calcular Dano!</a>
    <a href="{{ url_for('static', filename='minijogos/calculo_xp.html') }}" class="botao_minijogo">Calcular XP!</a>
</body> 
</html>